/* 白天网站背景/颜色 */
#web_bg {
 background: linear-gradient(90deg, rgba(247, 149, 51, .1), rgba(243, 112, 85, .1) 15%, rgba(239, 78, 123, .1) 30%, rgba(161, 102, 171, .1) 44%, rgba(80, 115, 184, .1) 58%, rgba(16, 152, 173, .1) 72%, rgba(7, 179, 155, .1) 86%, rgba(109, 186, 130, .1))
}

/* 夜间网站背景/颜色 */
[data-theme=dark] #web_bg {

}


#recent-posts > .recent-post-item:not(a)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to right, transparent, white, transparent);
  transform: translateX(-200%);
  transition: transform 0.5s linear;
  z-index: 1;
}
#recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
}

body[data-type="todolist"] #web_bg {
  background: var(--anzhiyu-background);
}
body[data-type="todolist"] #page {
  border: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: 0 0 !important;
}
body[data-type="todolist"] #page .page-title {
  display: none;
}
/* Todolist */
#todolist-box{
  margin: 0 10px;
}
#todolist-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 10px;
}
#todolist-main li{
  list-style:none;
  font-size: 17px;
}
#todolist-main ul{
  margin: 0;
  padding: 0;
}
#todolist-left{
  width: 50%;
  padding: 0 8px 0 0;
}
#todolist-right{
  width: 50%;
  padding: 0 0 0 8px;
}
.todolist-item{
  position: relative;
  background: #fae4df;
  border-radius: 12px;
  padding: 10px 1rem 1.2rem;
  border: 2px dashed #f7a796;
  margin-bottom: 1rem;
}
[data-theme=dark]
.todolist-item{
  background: #242424;
  border: 2px dashed #51908b;
}
li.todolist-li i{
  margin-left: 10px;
}
h3.todolist-title{
  margin: 0!important;
  border-bottom: var(--todo-border);
}
li.todolist-li{
  border-bottom: var(--todo-border);
  font-weight: normal;
  margin-left: -10px;
}
li.todolist-li-done{
  border-bottom: var(--todo-border);
  font-weight: normal;
  text-decoration: line-through;
}
.todolist-li span{
  margin-left: 5px;
}
.todolist-li-done span{
  margin-left: 5px;
}
@media screen and (max-width:700px){
  #todolist-left,#todolist-right{
      width: 100%;
      padding: 0;
  }
}